@media (max-width: 769px){
    .promo{
        &__wrapper{
            margin-right: 65px;
        }
    }
    .consultation{
        &__wrapper{
            padding: 0 0 0 100px;
        }
    }
    .prev, .next{
        display: none;
    }
}

@media (max-width: 575px){
    .header{
        &__phone{
            font-size: 16px;
        }
        &__official{
            font-size: 8px;
            span {
                font-size: 13px;
            }
        }
    }
    .advantages{
        &__list{
            display: block; 
        }
    }
    .promo{
        &__icons{
            width: 325px;
        }
        &__icon{
            font-size: 12px;
        }
        &__header{
            font-size: 28px;
        }
        &__subheader{
            font-size: 17px;
        }
        &__wrapper{
            margin-right: 10px;
        }
    }
    .consultation{
        &__wrapper{
            padding: 0;
        }
        &__descr{
            font-size: 16px;
        }
    }
    .title{
        &_left{
            font-size: 21px;
        }
    }
    .carousel{
        img{
            width: 300px;
        }
    }
    .catalog{
        &__tab{
            div{
                font-size: 11px;
            }
        }
        &__content{
            margin-left: 10px;
        }
    }
    .reviews{
        &__photo{
            img{
                width: 100px;
                height: 100px;
            }
        }
        &__text{
            font-size: 12px;
        }
    }
}