.reviews{
    background-color: #ffffff;
    padding: 100px 0 0 0;
    &__head{
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &__item{
        margin-top: 70px;
        display: flex;
    }
    &__photo{
        vertical-align: middle;
    }
    &__descr{
        margin-left: 60px;
    }
    &__name{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__count{
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    &__text{
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
    }
}